trunk-version = "*"

[build]
target = "index.html"
dist = "../docs"
#public_url = "/activite-deputes"

[watch]
watch = ["../docs/data", "../docs/exports"]

[serve]
port = 8080

[[hooks]]
stage = "pre_build"
command = "echo"
command_arguments = ["Building activite-deputes frontend..."]

[[hooks]]
stage = "post_build"
command = "sh"
command_arguments = [
  "-c",
  'rm -rf "$TRUNK_STAGING_DIR/data" "$TRUNK_STAGING_DIR/exports"; if [ -d ../docs/data ]; then cp -a ../docs/data "$TRUNK_STAGING_DIR/data"; fi; if [ -d ../docs/exports ]; then cp -a ../docs/exports "$TRUNK_STAGING_DIR/exports"; fi; echo "Copied pipeline assets into $TRUNK_STAGING_DIR"'
]
